/* Your styles goes here. */
.app {
  display: flex;

  .lft {
    width: 50%;

    .btn {
      margin-top: 10px;
    }
  }

  .rgt {
    width: 50%;
    padding: 0 60px;
  }

  .block {
    margin-bottom: 20px;
  }
}
