.app_app__9OAH2 {
  display: flex;
}
.app_app__9OAH2 .app_lft__Y9VXb {
  width: 50%;
}
.app_app__9OAH2 .app_lft__Y9VXb .app_btn__Nl0cW {
  margin-top: 10px;
}
.app_app__9OAH2 .app_rgt__djZvi {
  padding: 0 60px;
  width: 50%;
}
.app_app__9OAH2 .app_block__KPuK7 {
  margin-bottom: 20px;
}
